body {
    font-size: 22px;
    border: 3px solid black;
    background: #CBD4C2;
    background-image: url(https://as1.ftcdn.net/jpg/16/22/12/70/1000_F_1622127087_tCbcpS0vSFYikpsNvaeYqr33QFk44tTB.webp);
    background-size: 500px 500px;
}

p {
    color: hsla(0, 0%, 0%, 0.607);
}

li, p a {
    color: hsla(0, 0%, 0%, 0.607);
    margin: 5px;
    text-overflow: nowrap;
}

h1, h2 {
    text-align: center;
    color: #001C55;
}

strong {
    text-transform: uppercase;
}
